@import url("./reset.css");

.chat-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 100vh;
    padding-top: 30px;
    padding-bottom: 20px;

    background-image: url("@public/images/chatPage-bg.jpg");
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
}

.chat-page-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;

    width: 100%;
    max-width: 820px;
    height: 100%;
    padding: 20px;
}

.logo-block {}

.title {
    font-family: "Open Sans", sans-serif;
    font-size: 58px;
    font-weight: 700;
    font-style: normal;
    line-height: 155%;
    color: #FFF;
    text-transform: capitalize;
}


.subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    font-style: normal;
    line-height: 155%;
    color: #FFF;
}


.input-block {
    position: relative;
    overflow: hidden;
    min-height: 70px;
}

.input {
    width: 100%;
    height: 100%;
    padding: 26px;

    font-family: Inter, sans-serif;
    font-size: 20px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-weight: 400;
    font-style: normal;
    line-height: 155%;

    background: #FFF;
    border-radius: 16px;
    box-shadow: 0 2px 31px 13px rgb(10 63 142 / 8%);
}

.input::placeholder {
    color: #CED0D6;
}

.button-send {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translateY(-50%);

    aspect-ratio: 1;
    height: 100%;
    max-height: 40px;

    transition: transform 0.25s ease;
}

.button-send:hover {
    transform: translateY(-50%) scale(1.1)
}

.button-send path {
    transform-origin: center 50%;
    transition: transform 0.25s ease;
}

.button-send rect {
    transform-origin: 100% center;
    transition: transform 0.4s ease;
}

.button-send:hover rect {
    transform: scale(0)
}

.button-send:hover path {
    transform: translateX(150%)
}

.window-chat {
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 20px;

    height: 100%;
}

.chat {
    overflow: hidden;
    display: flex;
    flex: auto;
    flex-direction: column;
    gap: 23px;
    justify-content: end;

    padding: 0 15px 55px;

    background: #FFF;
    border: 1px solid #FFF;
    border-radius: 16px;
    box-shadow: 0 2px 31px 13px rgb(10 63 142 / 8%);
}

.message {
    display: flex;
    flex-direction: row-reverse;
    gap: 13px;
    align-self: flex-end;
}



.message-text {
    max-width: 400px;
    padding: 12px 20px;

    font-family: "SF Pro Text", sans-serif;
    font-size: 18px;
    font-feature-settings: 'clig' off, 'liga' off;
    font-weight: 400;
    font-style: normal;
    line-height: 155%;
    color: #000;

    background: rgb(34 118 245 / 20%);
    border-radius: 28px;
}

.message-bot {
    flex-direction: row;
    align-self: flex-start;
}

.message-bot .message-text {
    color: #FFF;
    background: #007AFE;
}


.cursor {
    position: relative;
    bottom: -0.2em;

    display: inline-block;

    width: 0.4ch;
    height: 1em;

    line-height: inherit;

    background-color: #FFF;

    animation: identifier infinite ease 0.4s;

    /* animation: name duration timing-function delay iteration-count direction fill-mode; */

}

@keyframes identifier {
    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}