.chatList {
  overflow: hidden;
  display: flex;
  flex: auto;
  flex-direction: column;
  gap: 23px;
  justify-content: end;

  padding: 0 15px 55px;

  background: #fff;
  border: 1px solid #fff;
  border-radius: 16px;
  box-shadow: 0 2px 31px 13px rgb(10 63 142 / 8%);
}
